body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Wrapping element 
 Set some basic padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Carousel 
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

 Make .svg files in the carousel display properly in older browsers 
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

 QR code generator 
#qrCode {
    margin: 15px;
}

 Hide/rearrange for smaller screens 
@media screen and (max-width: 767px) {
     Hide captions 
    .carousel-caption {
        display: none;
    }
}

.container body-content {
    margin-top: 50px;
}



/* Стили для таблицы*/
/*table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

li a, p a {
    font-size: 20px;
}*/

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

thead {
    background-color: #f2f2f2;
    font-size: 16px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1c40f;
}

/*Пример медиа-запроса*/ 
/*@media (min-width: 600px) {
    th, td {
        padding: 12px;
        font-size: 16px;
    }
}*/








body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    margin: 10px;
}