@model CarRental_2.ViewModels.CarEditCreateViewModel

@{
    ViewData["Title"] = "Добавление автомобиля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление автомобиля</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken() <!-- Токен защиты от подделки -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarClassId" class="control-label">Класс автомобиля</label>
                <input asp-for="CarClassId" class="form-control" />
                <span asp-validation-for="CarClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Марка</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Модель</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label">Государственный номер</label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Год изготовления</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalCostPerDay" class="control-label">Стоимость аренды в день</label>
                <input asp-for="RentalCostPerDay" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="RentalCostPerDay" class="text-danger"></span>
            </div>
			<div class="form-group">
				<label asp-for="Status" class="control-label">Статус аренды</label>
				<input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
			</div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a href="~/Cars/Index">Вернуться к списку</a>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

